    <!-- ten partial la _line_item nen ten variable cung la line_item -->
    <!-- render collection, vao partial thi tu dong iterate -->
    <!-- @current_item la item moi dc chinh sua -->
    <% if line_item == @current_item %>
		<tr id="current_item">
	<% elsif line_item == @current_reduce_item %>
		<tr id="current_reduce_item">		
	<% else %>
		<tr>
	<% end %>
      <td><%= line_item.quantity %>&times;</td>
      <td><%= line_item.product.title %></td>
      <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
      <td><%= button_to 'delete', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= line_item.product_id %></td>
      <td><%= button_to 'reduce', reduce_amount_line_items_path(product_id: line_item.product_id, cart_id: line_item.cart_id), method: :patch, remote: true %></td>
    </tr>